*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: white;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center; 
    min-height: 100vh;
}

main{
    background-color: black;
    margin: 20px;
    height: calc(100vh - 40px);
    min-height: calc(100vh - 40px);
    
    /* Responsive Width */
    width: 100%;
    max-width: 35rem; 
    border-radius: 40px;
    
    /* Layout Structure */
    display: flex;
    flex-direction: column; 
    justify-content: space-between; 
    position: relative;
    overflow: hidden; 
}

.main-title{
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    margin: 20px;
    font-size: 20px;
    font-weight: 800;
}

.input-field{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding: 20px; 
    position: absolute;
    bottom: 0;
    left: 0;
    margin-top: auto;
}

.input-field input{
    width: 100%; 
    height: 3rem;
    border-radius: 20px;
    outline: none;
    border: none;
    background-color: #bbb;
    padding-left: 20px;
    padding-right: 3.5rem;
    color: white;
    font-weight: 500;
}

.input-field input::placeholder{
    color: white;
}

.send-btn a{
    color: purple;
    font-size: 1.8rem;
    position: absolute;
    right: 2rem; 
    top: 50%;
    transform: translateY(-50%);
}
